* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: end;
}

#imgfirst {
    display: inline-block;
    vertical-align: middle;

}

#navigation {
    padding: 12px 24px;
    align-items: center;
    vertical-align: middle;
    max-width: 1183px;
    margin: right;
    background-color: #f7f4ff;
    display: inline-block;
}

#navbar {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 177px;
}

#navbar a {
    text-decoration: none;
    margin: 20px;
    color: #323232;
    font-size: 18px;

}

#contactspan {
    color: #8E26C0;
}

#buttonfirst {
    display: inline-block;
    padding: 8px 16px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    color: #8E26C0;
    margin-left: 177px;
}


#photo {
    vertical-align: middle;
    width: 610px;
    height: 458px;
}

#offer-img-wrapper {
    margin: 0 auto;
    margin-top: 154px;
    vertical-align: top;
    max-width: 1190px;
    height: 436px;

}

#offer {
    display: inline-block;
    max-width: 500px;
    margin-left: 45px;
}

#offer-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

#maintitle {
    margin-top: 100px;
    color: #000;
    text-align: center;
    font-size: 40px;
}

#divlorem {
    width: 444px;
    height: 81px;
    margin-left: 20px;
    display: inline-block;

}

#lorem {
    color: #535862;
    font-size: 20px;
    margin-top: 16px;
}

#list-item {

    margin-top: 14px;
}

#list-item ol li {
    font-size: 24px;
    margin: 12px;
}

#mainsecond {

    width: 1221px;
    margin-top: 83px;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 45px;
}

#secondp {
    color: #535862;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 18px;
    width: 905px;
}

#contact {
    width: 905px;
    text-align: center;
    margin: 0 auto;
}

#contactdiv {
    display: inline-block;
    padding: 32px;
    border-radius: 16px;
    background: #F7F4FF;
    width: 100%;
    height: 548px;
    margin: auto;
    margin-top: 28px;
}

#contactfirstdiv {
    display: inline-block;
    border-radius: 16px;
    background: #FFF;
    padding: 20px;
    width: 403px;
    height: 474px;
    vertical-align: middle;

}

#location,
#phone,
#email {
    vertical-align: middle;
    margin: 24px;
    border: 50px;
    border-radius: 50px;
    background: #F7F4FF;
}

#address_box,
#email_box,
#phone_box {
    display: inline-block;
    vertical-align: middle
}

#contactseconddiv {
    margin-left: 24px;
    display: inline-block;
    vertical-align: middle;
    height: 474px;

}

#contactseconddiv p {
    color: #1B003D;
    font-size: 32px;
    vertical-align: middle;


}

#label_text,
#label_texttwo {
    display: block;


}

#text,
#texttwo {
    padding: 8px 16px;
    border-radius: 10px;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    width: 698px;


}

#textarea {
    display: block;
    font-size: 16px;
    resize: none;
    width: 698px;
    height: 122px;
    border-radius: 16px;
    border: 1px solid #8E26C0;
    margin-top: 24px;
    padding: 12px 16px;

}

#label_text,
#label_texttwo {
    margin-top: 16px;
}

#text,
#texttwo {
    margin-top: 8px;
}

#footerdiv {
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: #53389E;
    margin-top: 163px;

}

#send {
    width: 140px;
    padding: 12px 24px;
    align-items: center;
    border-radius: 8px;
    background: #8E26C0;
    color: #FFF;
    font-size: 16px;
    margin-top: 24px;
    align-items: right;
}

#buttondiv {
    text-align: right;
}

#table {

    margin: 0 auto;
}

#table td {
    vertical-align: top;
    padding: 32px;
}

#footerlist {
    padding: 20px;
}

#footerlist p {
    margin: 8px 0;
    align-items: center;
    color: #E9D7FE;
}

#footerlist h4 {
    color: #D6BBFB;
}

#footerlist a {
    margin: 5px 0;
    color: white;
    text-decoration: none;
}

#badge {
    padding: var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
    align-items: center;
    border-radius: var(--radius-sm, 6px);
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255),
    }

    #lastdiv {
        margin-top: 64px;
        border-top: 1px solid #7F56D9;
        max-width: 800px;
        margin: 0 auto;
    }

    #logomark {
        margin-top: 20px;
        
    }

   #lastdiv p {
    display: inline-block;
    margin-left: 500px;
    vertical-align: middle;
   }